<h1><%=@photo.title%></h1>

<% if @photo.image.attached? %>
   <%= image_tag url_for @photo.image.variant(resize_to_fill: [640, 480])   %>
<% end %>

<h3>Category: <%= link_to @photo.category.name, category_photos_path(@photo.category) %></h3>
<h3>Caption: <%=@photo.caption%></h3>

<%= link_to "Edit Photo", edit_photo_path(@photo)%> | 
<%= link_to "Delete Photo", photo_path(@photo), method: 'delete'%>
