<!DOCTYPE html>
<html>
  <head>
    <title>Photography</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  
  <div class="wrapper">
   <style> h1 {text-align: center;}
          p {text-align: center;}
          div {text-align: center;}
    </style>
  <% if logged_in? %>
    <nav class='navbar'>
  <%= link_to 'Categories', categories_path, class:'button'%> |
  <%= link_to 'View My Photos', photos_path, class:'button'%> |
  <%= link_to "Upload Photo", new_photo_path, class:'button'%> |
  <%= link_to "Logout", logout_path, method: :delete, class:'button' %>
  </nav>
     <% else %>
      <%= link_to 'Login', login_path %> or <%= link_to "Signup", signup_path%>
    <% end %>
    <br>
    <%= yield %>
    <br><br>
      <footer class="branding">
        <small>&copy; 2020 <strong>MDPHOTOGRAPHY</strong></small>
      </footer>
    </div>
  </body>
</html>

